vti_encoding:SR|utf8-nl
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_dependenciesood:IR|1
vti_webservertype:SR|diskweb
vti_navbuttonnextlabel:SR|Next
vti_themedefault:SR|roys-chalkboard 000
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_oldestcompatibleversion:SR|2.0.0.0
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_defaultcharset:SR|windows-1252
vti_structto_localhost\\c\:\\temp\\web\\cse581/c\:/temp/web/cse581:TR|03 Oct 2002 07:08:59 -0000
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_copytimestamp_file\://///Zardoz/wwwroot/OGI_CSE581:TR|03 Jan 2003 17:34:28 -0000
vti_autorecalc:IX|1
vti_structto_localhost\\c\:\\temp\\ogi_cse581/c\:/temp/ogi_cse581:TR|05 Nov 2002 09:41:32 -0000
vti_copytimestamp_file\:///C\:/temp/web/CSE581:TR|03 Oct 2002 07:02:32 -0000
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_navbuttonhomelabel:SR|Home
vti_missingoverlays:VX|
vti_structto_localhost\\c\:\\temp\\cse581/c\:/temp/cse581:TR|03 Jan 2003 05:55:00 -0000
vti_insecureserverurl:SR|file://
vti_missingoverlaylabels:VX|
vti_structto_localhost\\\\\\zardoz\\wwwroot\\ogi_cse581///zardoz/wwwroot/ogi_cse581:TR|03 Jan 2003 05:55:00 -0000
vti_copytimestamp_file\:///C\:/temp/CSE581/C\:/temp/CSE581:TR|03 Jan 2003 06:12:24 -0000
vti_disableautoimgsizeexts:SX|.asp
vti_textextensions:SX|.txt.
vti_casesensitiveurls:IX|0
vti_httpdversion:SX|FrontPage DBW
vti_navbuttonuplabel:SR|Up
vti_ignorekeyboard:IR|0
vti_copytimestamp_file\:///d\:/temp/ogi/d\:/temp/ogi:TR|18 Mar 2004 18:21:59 -0000
vti_textindexood:IR|0
vti_timecreated:TR|17 Sep 2001 04:05:04 -0000
vti_copytimestamp_file\:///C\:/temp/OGI_CSE581/C\:/temp/OGI_CSE581:TR|05 Nov 2002 15:53:31 -0000
vti_borderdefault:SR|tl
vti_extenderversion:SR|5.0.2.4330
vti_navbuttonprevlabel:SR|Back
vti_structto_localhost\\d\:\\temp\\ogi/d\:/temp/ogi:TR|18 Mar 2004 18:11:38 -0000
