.mstheme
{
	separator-image: url(charulec.gif);
	list-image-1: url(chabul1c.gif);
	list-image-2: url(chabul2c.gif);
	list-image-3: url(chabul3c.gif);
	nav-banner-image: url(chabanc.gif);
	navbutton-horiz-normal: url(chbtnnc.gif);
	navbutton-horiz-hovered: url(chbtnnc.gif);
	navbutton-horiz-pushed: url(chbtnsc.gif);
	navbutton-vert-normal: url(cvbtnnc.gif);
	navbutton-vert-hovered: url(cvbtnnc.gif);
	navbutton-vert-pushed: url(cvbtnsc.gif);
	navbutton-home-normal: url(chmbtnc.gif);
	navbutton-home-hovered: url(chmbtnc.gif);
	navbutton-home-pushed: url(chmbtnc.gif);
	navbutton-next-normal: url(cnbtnc.gif);
	navbutton-next-hovered: url(cnbtnc.gif);
	navbutton-next-pushed: url(cnbtnc.gif);
	navbutton-prev-normal: url(cpbtnc.gif);
	navbutton-prev-hovered: url(cpbtnc.gif);
	navbutton-prev-pushed: url(cpbtnc.gif);
	navbutton-up-normal: url(cubtnc.gif);
	navbutton-up-hovered: url(cubtnc.gif);
	navbutton-up-pushed: url(cubtnc.gif);
}
.mstheme-bannertxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
	vertical-align: top;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-vert-navtxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
}
.mstheme-navtxthome
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url(chabul1c.gif);
}
ul ul
{
	list-style-image: url(chabul2c.gif);
}
ul ul ul
{
	list-style-image: url(chabul3c.gif);
}
